body {
  background: linear-gradient(#236a64, #2b978c);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.tribu {
  color: #d0fff6;
  text-align: center;
  font-size: 60px;
  margin: 10px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  background: linear-gradient(#236a64, #1c7068);
}

.header {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainButton {
  background: #1c3738;
  width: 600px;
  height: 400px;
  border: solid black 3px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #d0fff6;
  font-size: 24px;
}

a:hover {
  color: rgb(168, 230, 218)
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 750px;
}

.mainButton:hover {
  background: #172f30;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 90px 0;
  gap: 30px;
  width: 100%;
}

.echoContainer {
  width: 1000px;
  background: #1c3738;
  padding: 20px;
  border: 2px dashed black;
  border-radius: 20px;
}

.echoContent {
  font-size: 20px;
  color: #d0fff6;
  margin: 0px;
}

.echoOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.echoText {
  margin: 0px;
  color: #d0fff6;
  font-size: 18px;
}