body {
  background: linear-gradient(#236a64, #2b978c);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tribu {
  color: #d0fff6;
  text-align: center;
  font-size: 60px;
  margin: 10px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainButton {
  background-color: #1c3738;
  width: 600px;
  height: 400px;
  border: solid black 3px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainButton a {
  text-decoration: none;
  color: #d0fff6;
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
