{% extends "base.html" %}

{% block content%}
	{% include "messages.html" %}
	{% if echos.count %}
		<p>Tribu has posted {{ echos.count }} echo{{ echos.count|pluralize:"s" }} so far!</p>
	{% endif %}
	<a href="{% url "echos:add-echo" %}">Add echo</a>
	{% for echo in echos %}
		<div class="echoContainer">
			<p class="echoContent">{{ echo.content|truncatewords:20 }}</p>
			<div class="echoOptions">
				<a class="echoText" href="{{echo.get_absolute_url}}">Detalles</a>
				<a class="echoText" href="{% url "users:user-detail" echo.user %}">{{echo.user}}</a>
				<p class="echoText">{{ echo.created_at|timesince }}</p>
			</div>
		</div>
	{% empty %}
		<p>No echos yet</p>
	{% endfor %}
{% endblock %}