body {
  margin: 5%;
  background-color: beige;
}
h1 {
  font-size: 40px;
  color: red;
}
div {
  color: black;
}
form {
  margin-right: 70%;
}
form div {
  border: 1px black solid;
}
form * {
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 2px;
}
form div input#id_name {
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 600px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
}

.task {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}

.none-todo {
  text-align: center;
}

.no-decoration {
  color: black;
  text-decoration: none;
}
