body {
  margin: 5%;
  background-color: beige;
}
h1 {
  font-size: 40px;
  color: red;
}
div {
  color: black;
}
form {
  margin-right: 70%;
}
form div {
  border: 1px black solid;
}
form * {
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 2px;
}
.form {
  margin: auto;
}

form div input#id_name {
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 60px;
  background: linear-gradient(to right, #fa4261, #f39762, #d5aa10);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 600px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 4px 4px 15px;
}

.task {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}

.none-todo {
  text-align: center;
}

.no-decoration {
  color: black;
  text-decoration: none;
}
.animate:hover {
  font-size: 15px;
  color: brown;
}

.button {
  padding: 10px;
  text-decoration: none;
  color: black;
  background: #e9e9bf;
  border: 1px solid black;
  border-radius: 10px;
}

.button:hover {
  background: #b8b892;
  padding: 12px;
}
