{% extends "base.html" %}
{% load users_extras thumbnail %}

{% block content %}
  {% include "includes/messages.html" %}
  <h1>{{userProfile.first_name}} {{userProfile.last_name}}</h1>
  <p>{{userProfile.profile.get_role_display}}</p>
  {% thumbnail userProfile.profile.avatar "200x200" crop="center" format="PNG" as thumb %}
    <img src="{{thumb.url}}" alt="Avatar">
  {% endthumbnail %}
  <p>{{userProfile.email}}</p>
  <p>{{userProfile.profile.bio}}</p>
  {% if user == userProfile %}
    <a href="{% url "users:edit-profile" %}">Edit profile</a>
  {% endif %}
  {% if user|is_student %}
    <button href="{% url "users:leave" %}">Leave</button>
  {% endif %}
  {% for subject in subjects_list %}
    <p>{{subject}}</p>
  {% endfor %}
{% endblock content %}