<div class="list">
    {% for task in tasks %}
        <div class="task">
            <a class="no-decoration animate" href="{% url 'tasks:task-detail' task.slug %}">{{ task }}</a>
            <div>
                {% if task.completed %}
                <a class="no-decoration" href="{% url 'tasks:complete-task' task.slug %}">✅</a>
                {% else %}
                    <a class="no-decoration" href="{% url 'tasks:complete-task' task.slug %}">❌</a>
                {% endif %}
                <a class="no-decoration" href="{% url 'tasks:delete-task' task.slug %}">🗑️</a>
                <a class="no-decoration" href="{% url 'tasks:edit-task' task.slug %}">✐</a>
            </div>
        </div>
    {% empty %}
        <h1 class="none-todo">Nada que hacer. ¡Enhorabuena!</h1>
    {% endfor %}
</div>