body {
    margin: 0px;
    font-family: 'Inclusive Sans', sans-serif;
    background: #f9f9f9;
}

h1 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    background: white;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.headerButton {
    height: fit-content;
    font-size: 18px;
    padding: 0.75rem 1rem;
    background: #6c04f9;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}

.headerButton:hover {
    background: #5203c7;
}

.lenguageSelector {
    display: flex;
}

.loginSignupBtn {
    height: fit-content;
    font-size: 18px;
    padding: 0.75rem 1rem;
    background: #26890c;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}

.loginSignupBtn:hover {
    background: #1e6e0a;
}

.content {
    margin: 2rem;
}

.categoryTitle {
    display: flex;
    gap: 1rem;
}

.quizContainer {
    display: flex;
    margin-bottom: 2rem;
    overflow-x: auto;
    gap: 3rem;
}

.quiz {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
}

.quizImg {
    width: 100%;
    height: 200px;
}

.quizContent {
    padding-inline: 1rem;
}

.quizDetails {
    display: flex;
    gap: 2rem;
    margin: 2rem;

    h1 {
        text-align: left;
        margin-bottom: 8rem;
    }

    img {
        width: 650px;
        height: 450px;
    }
}

.quizDetailsAuthor {
    margin-top: 8rem;
    font-size: 18px;
    font-weight: bold;
}

@font-face {
    font-family: 'Inclusive Sans';
    src: url('/theme/fonts/InclusiveSans-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}