{% extends "base.html" %}

{% block content %}
	<div class="top-padding d-flex flex-column align-items-center h-100">
		{% include "includes/messages.html" %}
		<form method="post" novalidate>
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				<p>{{ form.instance.student.get_full_name }} {{ form.mark }}</p>
			{% endfor %}
			<input type="submit" value="Add">
		</form>
	</div>
{% endblock content %}