{% extends "base.html" %}
{% load i18n users_extras %}

{% block content %}
  <div class="top-padding d-flex flex-column align-items-center h-100">
    {% include "includes/messages.html" %}
    {% if user|is_student %}
      <div class="subjects-header">
        <h1 class="custom-text-primary text-center">{% translate "My subjects" %}</h1>
        <div class="subjects-actions gap-4">
          <a class="link custom-text-secondary" href="{% url 'users:my-user-detail' %}">My profile</a>
          <a class="link custom-text-secondary" href="{% url "subjects:enroll-subjects" %}">Enroll</a>
          <a class="link custom-text-secondary" href="{% url "subjects:unenroll-subjects" %}">Unenroll</a>
          {% if graded and subjects.count > 0 %}
            <a class="link custom-text-secondary" href="{% url "subjects:request-certificate" %}">Request certificate</a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="subjects-header gap-4">
        <h1 class="custom-text-primary subjects-title">{% translate "My subjects" %}</h1>
        <a class="link custom-text-secondary text-center w-100 d-block" href="{% url 'users:my-user-detail' %}">My profile</a>
      </div>
    {% endif %}
    <div class="subjects-list d-flex align-items-center justify-content-center gap-5 h-100">
      {% for subject in subjects %}
        <div class="subject-card">
          <p>{{subject.name}}</p>
          <a href="{{ subject.get_absolute_url }}">Details</a>
        </div>
      {% empty %}
        <p>No subjects already</p>
      {% endfor %}
    </div>
  </div>
{% endblock  %}