{% extends "base.html" %}
{% load i18n users_extras %}

{% block content %}
  <h1>{% translate "My subjects" %}</h1>
  {% comment %} <a href="{% url 'users:profile' %}">Mi perfil</a> {% endcomment %}
  {% include "includes/messages.html" %}
  {% if user|is_student %}
    <a href="{% url "subjects:enroll-subjects" %}">Matricularse</a>
    <a href="{% url "subjects:unenroll-subjects" %}">Desmatricularse</a>
    {% if graded %}
      <a href="{% url "subjects:request-certificate" %}">Generar certificado</a>
    {% endif %}
  {% endif %}
  {% for subject in subjects %}
    <p>{{subject.name}}</p>
    <a href="{{ subject.get_absolute_url }}">Detalles</a>
  {% endfor %}
{% endblock  %}